<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MasteryTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MasteryTest3.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="border-bottom navbar navbar-light border-bottom">
            <div class="container mw-primary">
                <a class="navbar-brand text-light fs-5" asp-area="" asp-controller="Home" asp-action="Index">MasteryTest</a>
                <div class="btn-group">
                    <button class="btn rounded-pill border dropdown-toggle" type="button"
                        data-bs-toggle="dropdown">
                        Peter Griffin
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item">
                            <a href="@Url.Action("Index","Product", new { userId = 1 })">Peter Griffin</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">Glen Quagmire</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">Joe Swanson</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">Cleveland Brown</li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
