<div class="container mw-primary">
    <div class="navbar-nav d-flex flex-row align-items-center gap-3 mt-3" style="margin-bottom: 15%;">
        <a class="nav-link p-0" href="..">Back</a>
    </div>
</div>