<button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Disapprove
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-3 px-4" style="border-bottom: 0 !important">
                <h1 class="modal-title fs-5">Reason for Disapproval *</h1>
            </div>
            <div class="modal-body px-4 py-0">
                <textarea id="disapproval-remark" class="form-control py-2" autofocus style="height: 100% !important" rows="5" placeholder="Input reason here..."></textarea>
            </div>
            <div class="modal-footer py-3 px-4" style="border-top: 0 !important">
                <button id="cancel-button" type="button" class="btn border" data-bs-dismiss="modal">Cancel</button>
                <button id="submit-button" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    function updateRequest(status) {
        const remarkElem = document.getElementById('disapproval-remark');
        const params = new URLSearchParams(window.location.search);

        const data = new FormData();
        data.append('status', status)
        data.append('id', params.get('id'))
        data.append('remark', remarkElem.value)

        return fetch('/order/complete', {
            method: 'POST',
            body: data
        })
    }

    const modal = new bootstrap.Modal('#staticBackdrop');
    const submitBtn = document.getElementById('submit-button');
    submitBtn.addEventListener('click', () => {
        const remarkElem = document.getElementById('disapproval-remark');
        if (!remarkElem.value) return;

        updateRequest('DISAPPROVED')
            .then(response => {
                modal.toggle();
                Swal.fire({
                    title: "Success!",
                    text: "Order request status has been updated",
                    icon: "success",
                    background: '#151515',
                    showCancelButton: false,
                    allowOutsideClick: false
                }).then(() => {
                    window.location.replace(response.url)
                })
            })

    })

</script>
